.main-container {
  width: 100%;
  margin: 0px auto;
  min-height: 680px;
  height: auto;
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .main-container {
    font-size: 14px;
    min-height: inherit;
  }
}
.main-container .main-wrap {
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .main-container .main-wrap {
    min-width: 360px;
  }
}

.container-common {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .container-common {
    width: 100%;
    margin-top: -60px;
  }
}
@media screen and (max-width: 767px) {
  .container-common {
    margin: 0 auto;
    display: block;
  }
}

.main-first-container {
  padding: 0px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .main-first-container {
    padding: 0px;
  }
}

.second-container-board {
  background: #f3f3f3;
}

.main-second-container {
  padding: 60px 15px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .main-second-container {
    padding: 10px 15px;
  }
}

.menu-wrap {
  width: 48%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .menu-wrap {
    width: 95%;
    margin-top: 10px;
    margin-right: 30px;
  }
}
.menu-wrap .menu-title-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .menu-wrap .menu-title-wrap {
    margin-bottom: 20px;
  }
}
.menu-wrap .menu-title-wrap h3 {
  display: block;
  font-size: 28px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .menu-wrap .menu-title-wrap h3 {
    font-size: 15px;
    font-weight: 900;
  }
}
.menu-wrap .menu-title-wrap h3 span {
  display: inline-block;
  border-bottom: 4px solid #e03710;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .menu-wrap .menu-title-wrap h3 span {
    padding-bottom: 5px;
  }
}
.menu-wrap .menu-title-wrap .more-wrap a {
  display: block;
  color: #636363;
  border: 1px solid #636363;
  border-radius: 40px;
  box-sizing: border-box;
  padding: 13px 35px 10px 18px;
  background: url(../img/i_grey_right.png) no-repeat top 50% right 20px;
}
.menu-wrap .menu-title-wrap .more-wrap a:hover {
  color: #101010;
  border-color: #101010;
  background: url(../img/i_bl_right.png) no-repeat top 50% right 20px;
  transition: ease 0.3s;
}
@media screen and (max-width: 767px) {
  .menu-wrap .menu-title-wrap .more-wrap a {
    padding: 8px 20px 8px 10px;
    background-position: top 50% right 10px;
    background-size: 5px;
    font-size: 12px;
  }
}

.carousel {
  position: relative;
  margin: 20px 0;
  overflow: hidden;
}
.swiper-slide {
  padding: 3px 3px 3px 3px;
  box-sizing: border-box;
}
.swiper-slide a {
  display: block;
}
@media screen and (max-width: 767px) {
  .swiper-slide a {
    padding: 3px 30px 3px 30px;
  }
}
.swiper-slide a > span {
  text-align: center;
}
.swiper-slide a:hover {
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
}
.swiper-slide a span {
  padding: 15px 0;
}
.swiper-slide .book-title {
  display: block;
  margin: 0 10px;
  margin-top: 23px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.5em;
  font-weight: 600;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .swiper-slide .book-title {
    width: 100%;
    margin-left: -15px;
    font-size: 13px;
  }
}
.swiper-slide .author {
  display: block;
  color: #636363;
  box-sizing: border-box;
}

.carousel img {
  display: block;
  width: 100%;
  height: 253px;
}
@media screen and (max-width: 767px) {
  .carousel img {
    width: auto;
    height: 170px;
    margin: 0 auto;
    max-width: 100%;
  }
}

.pagination {
  text-align: center;
}

.paper-wrap {
  width: 100%;
  box-sizing: border-box;
}
.paper-wrap .paper li {
  padding-right: 10px;
  border-bottom: 1px solid #ddd;
}
.paper-wrap .paper li:first-child {
  border-top: 1px solid #ddd;
}
.paper-wrap .paper li a {
  width: 96%;
  line-height: 47.5px;
  height: 47.5px;
  font-size: 16px;
  display: inline-block;
  background: url(../img/lineNoticeBg.jpg) no-repeat top 50% left 0;
  padding-left: 15px;
  background-size: 6px;
}
@media screen and (max-width: 767px) {
  .paper-wrap .paper li a {
    line-height: 40px;
    height: 40px;
    font-size: 14px;
  }
}
.paper-wrap .paper li a:hover span {
  text-decoration: underline;
}
.paper-wrap .paper li a span {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notice-text-wrap {
  display: block;
  width: 100%;
}
.notice-text-wrap .notice li a {
  box-sizing: border-box;
  display: block;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notice-text-wrap .notice li a:hover span {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .notice-text-wrap .notice li a {
    padding: 10px 0;
  }
}
.notice-text-wrap .notice li a span {
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 767px) {
  .notice-text-wrap .notice li a span {
    font-size: 14px;
  }
}
.notice-text-wrap .notice li a i {
  color: #636363;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .notice-text-wrap .notice li a i {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .infolearn-wrap {
    margin-top: 30px;
  }
}

.learn-text-wrap {
  display: block;
  width: 100%;
}
.learn-text-wrap .info {
  border: 1px solid #ddd;
  width: 100%;
  margin: 0 auto;
}
.learn-text-wrap .info li {
  width: 100%;
  display: flex;
  background: #FFF;
  box-sizing: border-box;
  padding: 15px 20px;
}
.learn-text-wrap .info li:first-child {
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 767px) {
  .learn-text-wrap .info li {
    padding: 5px 10px;
  }
}
.learn-text-wrap .info li .left-area {
  padding: 15px 15px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .learn-text-wrap .info li .left-area {
    padding: 15px 30px;
  }
}
.learn-text-wrap .info li .left-area b {
  display: block;
  font-size: 3.5em;
  font-weight: 900;
  color: #636363;
}
@media screen and (max-width: 767px) {
  .learn-text-wrap .info li .left-area b {
    font-size: 2.5em;
    margin-bottom: 25px;
  }
}
.learn-text-wrap .info li .left-area i {
  display: block;
  color: #636363;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .learn-text-wrap .info li .left-area i {
    font-size: 12px;
  }
}
.learn-text-wrap .info li span {
  display: block;
}
.learn-text-wrap .info li .right-area {
  width: 80%;
  padding-left: 20px;
  margin-left: 10px;
  border-left: 1px solid #ddd;
}
@media screen and (max-width: 1199px) {
  .learn-text-wrap .info li .right-area {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .learn-text-wrap .info li .right-area {
    width: 65%;
  }
}
.learn-text-wrap .info li .right-area a {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  padding-right: 10px;
}
.learn-text-wrap .info li .right-area a:hover span {
  text-decoration: underline;
}
.learn-text-wrap .info li .right-area a .info-text {
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .learn-text-wrap .info li .right-area a .info-text {
    width: 80%;
  }
}
.learn-text-wrap .info li .right-area .date, .learn-text-wrap .info li .right-area .place {
  display: block;
  margin: 10px 0;
  color: #636363;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 767px) {
  .learn-text-wrap .info li .right-area .date, .learn-text-wrap .info li .right-area .place {
    font-size: 12px;
  }
}

.search-sites-wrap {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}
@media screen and (max-width: 1199px) {
  .search-sites-wrap {
    width: 100%;
  }
}
.search-sites-wrap .search-sites-text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.search-sites-wrap .search-sites-text h3 span {
  font-size: 35px;
  font-weight: 900;
  border-bottom: 4px solid #e03710;
}
.search-sites-wrap .search-sites {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.search-sites-wrap .search-sites a {
  width: 20%;
  box-sizing: border-box;
  padding: 10px 5px;
}
.search-sites-wrap .search-sites a img {
  width: 100%;
  border: 1px solid #ddd;
}

.footer {
  width: 100%;
  background: #61605a;
}
.footer .footer-container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-top: 70px;
}
@media screen and (max-width: 1199px) {
  .footer .footer-container {
    width: 100%;
  }
}
.footer .footer-container .top-btn {
  display: block;
  width: 40px;
  height: 40px;
  background: #e03710 url(../img/arw_totop.png) no-repeat center center;
  z-index: 997;
  position: absolute;
  right: 0;
  top: -20px;
}
.footer .footer-container .footer-wrap {
  display: block;
  color: #FFF;
  padding: 30px 0;
}
@media screen and (max-width: 1199px) {
  .footer .footer-container .footer-wrap {
    padding: 20px 10px 20px 20px;
  }
}
.footer .footer-container .footer-wrap .email-wrap {
  width: 100%;
}
.footer .footer-container .footer-wrap .email-wrap .email-a {
  display: block;
  width: 13%;
  min-width: 142px;
  margin-bottom: 20px;
  transition: opacity 0.3s;
}
.footer .footer-container .footer-wrap .email-wrap .email-a:hover {
  opacity: 0.7;
}
.footer .footer-container .footer-wrap .email-wrap .email-a span {
  display: block;
  width: 100%;
  font-weight: 900;
}
.footer .footer-container .footer-wrap .mark-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.footer .footer-container .footer-wrap .mark-wrap .mark {
  position: absolute;
  right: 0;
}
@media (max-width: 1024px) {
  .footer .footer-container .footer-wrap .mark-wrap .mark {
    width: 50px;
    top: 20px;
  }
}
.footer .footer-container .footer-wrap address {
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .footer .footer-container .footer-wrap address {
    padding-right: 40px;
  }
}
.footer .footer-container .footer-wrap dt {
  display: inline-block;
  color: #fff;
  padding-right: 15px;
  font-weight: 600;
  position: relative;
}
.footer .footer-container .footer-wrap dt::after {
  content: " ";
  display: block;
  position: absolute;
  width: 2px;
  height: 10px;
  top: 50%;
  margin-top: -5px;
  right: 0;
  background: #a7a7a6;
}
.footer .footer-container .footer-wrap dd {
  color: #ddd;
  padding-left: 10px;
  display: inline-block;
}
.footer .footer-container .footer-wrap p {
  color: #ddd;
}/*# sourceMappingURL=main.css.map */